<div class="header-body" [style.height.rem]="type === 'Explore' ? 17.625 : 52">
  <img src="../../assets/images/logo.png" class="logo" />
  <div class="pagemenu">
    <a
      (click)="updateType('Home')"
      [class]="
        this.type === 'Home' ? 'header-btn-selected' : 'header-btn-underline'
      "
      href="#"
    >
      Home
    </a>
    <a
      (click)="updateType('Explore')"
      [class]="
        this.type === 'Explore' ? 'header-btn-selected' : 'header-btn-underline'
      "
      href="#"
    >
      Explore
    </a>
    <a class="header-btn" href="#">Register</a>
    <a class="header-btn" href="#">Sign in</a>
  </div>
  <div class="header-subject" *ngIf="this.type != 'Explore'">
    <div class="header-xcaption">Tools</div>
    <div class="header-caption">You will love</div>
  </div>
</div>
