<div class="aboutus-body">
  <div class="aboutus-container">
    <div class="emptyimage"></div>
    <div class="aboutus-content">
      <div class="aboutus-xcaption">About Us</div>
      <div class="aboutus-mcaption gap">Whats out story?</div>
      <div class="aboutus-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </div>
      <div class="aboutus-caption">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </div>
      <button class="aboutus-btn bottom">Read more</button>
    </div>
  </div>
</div>
