<div class="feature-body">
  <div class="feature-section">
    <div class="emptyimage"></div>
    <div class="feature-content">
      <p class="feature-xcaption">Feature One</p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <button class="feature-btn bottom-right">Explore</button>
    </div>
  </div>
  <div class="feature-section">
    <div class="feature-content">
      <p class="feature-xcaption">Feature Two</p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <button class="feature-btn bottom-left">Explore</button>
    </div>
    <div class="emptyimage"></div>
  </div>
  <div class="feature-section">
    <div class="emptyimage"></div>
    <div class="feature-content">
      <p class="feature-xcaption">Feature Three</p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <p class="feature-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <button class="feature-btn bottom-right">Explore</button>
    </div>
  </div>
</div>
